* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-width: 1920px;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-image: linear-gradient(to right, #001A4B, #4d77c4);
    padding-left: 5%;
    color: #fff;
}

header h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 2.3em;
}

.fa {
    font-size: 3em;
}

#welcomeText {
    padding: 15px 5px;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

/* Slideshow */
#slideshow {
    width: 800px;
    height: 310px;
    margin: 30px 0;
}

#slideshow .slider {
	width: 200%;
    height: 310px;
    display: flex;
}

#slideshow figure {
	position:relative;
    padding:0; margin:0;
    width: 100%;
}

#slideshow figure img {
    width: 100%;
}

#carte {
    width: 800px;
    height: 500px;
}

article {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#infoStation {
    width: 420px;
    background-color: #272822;
    margin-left: 30px;
    padding: 20px;
    display: none;
}

#infoStation h1 {
    text-transform: uppercase;
    text-align: center;
    color: #E95325;
    font-size: 1.5em;
}

#listeInfo {
    list-style-type: none;
    margin: 30px 0;
}

#listeInfo li {
    line-height: 2.5em;
    color: #EAF8F2;
}

#listeInfo span {
    font-weight: bold;
    color: #66D9EF;
}