* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    background-image: linear-gradient(to right, #001A4B, #4d77c4);
    padding-left: 5%;
    color: #fff;
}

header h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 2.3em;
}

.fa {
    font-size: 3em;
}

#welcomeText {
    padding: 15px 5px;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

/* Slideshow */
#slideshow {
    width: 800px;
    height: 310px;
    margin: 30px 0;
}

#slideshow .slider {
	width: 200%;
    height: 310px;
    display: flex;
}

#slideshow figure {
	position:relative;
    padding:0; margin:0;
    width: 100%;
}

#slideshow figure img {
    width: 100%;
}

#carte {
    width: 800px;
    height: 600px;
}

article {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

#infoStation {
    width: 420px;
    background-color: #3c304f;
    margin-left: 30px;
    padding: 10px;
    display: none;
}

#infoStation h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

#listeInfo {
    list-style-type: none;
    margin: 30px 0;
}

#listeInfo li {
    font-size: 0.9em;
    font-weight: 300;
    color: #EAF8F2;
}

#listeInfo li + li {
    margin-top: 15px;
}

#listeInfo span {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #66D9EF;
}

#streetView {
    width: 300px;
    height: 200px;
    margin: 10px auto;
}

#infoStation p {
    width: 130px;
    height: 40px;
    margin: 30px auto;
    box-shadow: 2px 2px 3px #000;
    border-radius: 6px;
    transition: all 0.5s;
}

#infoStation button {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#811215, #AD1E22);
    border: none;
    box-shadow: inset -1px -1px 10px #181717;
    color: #EBE9E9;
    text-shadow: 2px 2px 1px #000;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s;
}

#infoStation button:hover {
    box-shadow: inset 1px 1px 10px #181717;
    background-image: linear-gradient(#AD1E22, #811215);
    color: #D6D6D6;
    text-shadow: -2px -2px 1px #000;
}

#infoStation p:hover {
    box-shadow: -2px -2px 3px #000;
}

#canvasSignature {
    position: relative;
    width: 800px;
    height: 200px;
    margin: 20px auto;
}

#signature {
    width: 800px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
}

#canvasSignature p {
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(204, 204, 204, 0.3);
    border-radius: 10px 0 0 0;
    padding: 2px 5px;
    font-size: 0.7em;
}