/* ---------------- */
/* ==   SOMMAIRE    */
/* ---------------- */

/* 1- Reset CSS + BODY  */
/* 2- HEADER  */
/* 4- Diaporama */
/* 5- Maps */
/* 6- Cadre Station */
/* 7- Canvas */
/* 8- Section Location */

/* ------------------- */
/* ==   Reset CSS      */
/*      BODY           */
/* ------------------- */
/* --   Reset CSS    -- */
* {
    margin: 0;
    padding: 0;
}

/* --   BODY    -- */
body {
    width: 100%; /* Le site occupera 100% de la largeur */
    font-family: 'Open Sans', sans-serif; /* Définition de la police Google Font */
}

/* -------------------- */
/* ==     HEADER        */
/* -------------------- */
header {
    display: flex; /* rend les élements flexible */
    align-items: center; /* Centre verticalement le logo et le titre */
    background-image: linear-gradient(to right, #001A4B, #4d77c4); /* Font dégrader */
    padding-left: 5%;
    color: #fff; /* Le logo et le titre de couleur blanche */
}

header h1 {
    padding: 21px 0;
    margin-left: 20px;
    font-size: 2.3em; /* Taille du titre */
}

.logoHeader {
    font-size: 3em; /* Taille du logo */
}

/* Texte de Bienvenue */
#welcomeText {
    padding: 15px 5px;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

/* ----------------------- */
/* ==     Diaporama        */
/* ----------------------- */
#diaporama {
    width: 50%;
    height: 370px;
    margin: 2% auto;
    position: relative;
}

#caroussel {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 55%;
    left: 50%; right: 50%;
    transform: translateX(-50%) translateY(-50%);
    perspective: 1000px;
    transform-style: preserve-3d;
}

figure {
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: transform 1s;
}

figure img {
    width: 100%;
    vertical-align: middle;
}

figcaption {
    position: absolute;
    z-index: 2;
    bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}

#caroussel > p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#bouttonDroit {
    right: -25%;
}

#bouttonGauche {
    left: -25%;
}

#caroussel button {
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
    color: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.chevron::before {
    content: '';
    height: 1em;
    width: 1em;
    border-style: solid;
    border-width: 0.25em 0.25em 0 0;
    transform: rotate(-45deg);
    display: inline-block;
    left: 0.15em;
	position: relative;
	top: 0.15em;
}

.chevron.right:before {
	left: -0.15em;
	transform: rotate(45deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

/* ------------------ */
/* ==     Maps        */
/* ------------------ */
section {
    position: relative;
}
#carte {
    width: 1200px;
    height: 600px;
}

article {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

/* --------------------------- */
/* ==     Cadre Station        */
/* --------------------------- */
#infoStation {
    width: 420px;
    background-color: #3c304f;
    margin-left: 30px;
    padding: 10px;
    display: none;
}

#infoStation h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}

#listeInfo {
    list-style-type: none;
    margin: 30px 0;
}

#listeInfo li {
    font-size: 0.9em;
    font-weight: 300;
    color: #EAF8F2;
}

#listeInfo li + li {
    margin-top: 15px;
}

#listeInfo span {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 600;
    color: #66D9EF;
}

#streetView {
    width: 300px;
    height: 200px;
    margin: 10px auto;
}

#bouttonReservation {
    width: 130px;
    height: 40px;
    margin: 30px auto;
    box-shadow: 2px 2px 3px #000;
    border-radius: 6px;
    transition: all 0.5s;
}

#bouttonReservation:hover {
    box-shadow: -2px -2px 3px #000;
}

#bouttonReservation button {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#811215, #AD1E22);
    border: none;
    box-shadow: inset -1px -1px 10px #181717;
    color: #EBE9E9;
    text-shadow: 2px 2px 1px #000;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.5s;
}

#bouttonReservation button:hover {
    box-shadow: inset 1px 1px 10px #181717;
    background-image: linear-gradient(#AD1E22, #811215);
    color: #D6D6D6;
    text-shadow: -2px -2px 1px #000;
}

#messageErreur {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 5px;
    display: none; /* Le message sera afficher en JavaScript */
}

/* -------------------- */
/* ==     Canvas        */
/* -------------------- */
#containerCanvas {
    margin: 20px auto;
    display: none;
}

#containerCanvas p {
    text-align: center;
}

#signature {
    display: block;
    margin: 10px auto 5px auto;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 20px;
}

#bouttonCanvas {
    display: flex;
    justify-content: center;
}

#bouttonCanvas button {
    padding: 8px 15px;
    cursor: pointer;
    margin: 10px 0;
    color: #fff;
    font-size: 1em;
}

#bouttonCanvas p:first-child button {
    background-color: #0d00ff;
    border-color: #080097;
}

#bouttonCanvas p:first-child button:hover {
    background-color: #080097;
    border-color: #0d00ff;
}

#bouttonCanvas p:last-child button {
    margin-left: 15px;
    background-color: #3a34a5;
    border-color: #35309B;
}

#bouttonCanvas p:last-child button:hover {
    background-color: #2D28A5;
    border-color: #4640C2;
}

#bouttonCanvas button span {
    font-size: 1.1em;
    margin-right: 5px;
}

#bouttonCanvas p:first-child span.logoBouttonCanvas {
    color: #00FF40;
}

#bouttonCanvas p:last-child span.logoBouttonCanvas {
    color: #FF4FC4;
}

/* ------------------------------ */
/* ==     Section location        */
/* ------------------------------ */
#messageLocation {
    text-align: center;
    margin: 10px 0;
}

#compteur {
    font-size: 2em;
    font-weight: bold;
    color: #AD1E22;
}