/* Je commande temporairement

#slideshow {
    background-color: red;
}

.slider {
    background-color: blue;
}

figure {
    background-color: green;
}
*/

#slideshow {
    width: 100%;
}

.slider {
    display: flex;
    margin: 20px 0;
}

figure {
    width: 700px;
    margin: 0 auto;
}

figure img {
    width: 100%;
}